.DS_Store
.gradle/
.idea/
build/
HAP-Specification-Non-Commercial-Version.pdf
gradle.properties
gradlew
gradlew.bat
hola-master.zip
settings.gradle.kts
gradle/
src/main/java/org/
out/
bridge/
*.jar
*.json
nohup.out

